 /********* accueil ***************/

 .nav-gauche {

     width: 20%;

 }

 .blocs-menu span {

     font-size: 1.6vw;
     left: 1%;
     margin-top: 10%;
     font-weight: 700;

 }


 .accueil {
     height: 100vh;
 }

 .logoCbl {
     top: 25%;
     left: 80%
 }

 .accueil h1 {
     top: 23%;
     left: 25%;
 }

 .txt-animation {
     top: 33%;
     left: 22%;
 }

 .btn-rond {
     margin-top: 5%;
     margin-left: -5%;
 }


 /******** btn-menu ****** */
 .btn-rond-menu {

     width: 50px;
     height: 50px;
     border: 1px solid #f1f1f1;
     border-radius: 50%;
     background: -webkit-radial-gradient(rgb(55, 149, 160)80%, rgb(175, 233, 134));
     position: fixed;
     top: 30px;
     left: 40px;
     z-index: 10;
     transform: translate(-50%, -50%);
     z-index: 10;
 }

 .cont-ligne {
     width: 30%;
     height: 10%;
     cursor: pointer;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

 }

 .ligne-unique {
     width: 100%;
     height: 4px;
     border-radius: 5px;
     background: #f1f1f1;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

 }

 .ligne-unique::before {
     content: '';
     position: absolute;
     bottom: 10px;
     background: #f1f1f1;
     width: 100%;
     height: 4px;
     border-radius: 5px;
 }

 .ligne-unique::after {
     content: '';
     position: absolute;
     top: 10px;
     background: #f1f1f1;
     width: 100%;
     height: 4px;
     border-radius: 5px;
 }

 .cont-ligne.active .ligne-unique::after {
     top: 0;
     transform: rotate(45deg);
     transition: top 300ms ease, transform 300ms 300ms ease;
 }

 .cont-ligne.active .ligne-unique {
     background: transparent;
 }

 .cont-ligne.active .ligne-unique::before {
     bottom: 0;
     transform: rotate(-45deg);
     transition: bottom 300ms ease, transform 300ms 300ms ease;
 }


 /* ........section presentation...... */

 .presentation {
     background-size: 120%;
     background-position-y: 0%;

 }

 .histoire {
     margin-top: -90%;

 }

 .titre-pres {
     margin-top: 10%;
     margin-left: -3%;

 }

 .container-pres {
     margin-left: -5%;
 }



 /********* section transport ***********/

 .titre2port {

     margin-left: -2%;
 }

 .carousel .photo2 {
     margin-top: 43%;
     margin-left: 6%;


 }

 .carousel {

     height: 13vh;

 }

 .carousel .photo {

     margin-left: 6%;
     height: 15vh;
 }


 .carousel .photo1 {
     margin-top: 43%;
     margin-left: 6%;

 }

 .cam {

     margin-top: 90%;
 }

 .item {

     height: 30vh;

 }

 .item h3 {
     text-align: center;
     margin-top: -80%;
     font-size: 2vw;
 }

 /**********stockage********* */

 #exp {

     height: 70vh;
     margin-top: 162;

 }


 .titre-stockage-exp {
     margin-left: -9%;
 }

 .flex-cont-bloc-exp {

     margin-left: 5%;

 }

 .contenu-bloc {

     height: 25vh;
 }

 /* ***********écologie*********** */

 .eco {
     height: 280vh;
     background-size: 380%;
     background-position-y: 5%;

 }


 .section-parallax2 {

     width: 150%;
     height: 30vh;
     margin-left: -8%;

 }

 .titre-para1 {

     padding-top: 4%;
     padding-left: 15%;

 }

 .engage .eng {
     margin-top: -3%;
     font-size: 3vw;
 }

 .item-ecolo {
     height: 50vh;
 }

 .ecolo {

     margin-left: -7%;
     height: 80vh;

 }

 .ecolo p {

     font-size: 1.4vw;
     padding-top: 19%;
 }

 .section-parallax3 {


     margin-top: 1%;



 }

 .par3 {

     width: 100%;
     height: 65vh;

 }

 /*********** contact ****************/

 #conta {

     height: 103vh;

 }

 .coor {
     font-size: 2.7vh;
 }

 .section-contact h2 {
     font-size: 2.7vh;
 }

 .form-groupe label {
     font-size: 2vh;

 }

 .btn-end {
     margin-left: 8%;
     height: 2.5vh;
     margin-top: 2%;

 }

 textarea {

     width: 120%;
     height: 30vh;

 }

 .gmaps-frame {
     width: 100%;
     height: 50vh;
 }

 footer {

     text-align: center;
     align-items: center;
     padding-left: 2%;
 }