@media (prefers-reduced-motion) {
    .section-contact {
        animation: scroll 200s linear infinite;
    }

    body {
        animation: scroll 200s linear infinite;
    }
}

@media screen and (max-width: 1300px) {
    /*menu */

    .nav-gauche {

        left: -300px !important;
        width: 200px;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9;
    }

    .menu-visible {

        left: 0px !important;
    }

    .cercle-logo {

        bottom: 10px;
    }


    /******** btn-menu ****** */
    .btn-rond-menu {

        width: 50px;
        height: 50px;
        border: 1px solid #f1f1f1;
        border-radius: 50%;
        background: -webkit-radial-gradient(rgb(55, 149, 160)80%, rgb(175, 233, 134));
        position: fixed;
        top: 30px;
        left: 40px;
        z-index: 10;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .cont-ligne {
        width: 30%;
        height: 10%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .ligne-unique {
        width: 100%;
        height: 0.5vh;
        border-radius: 5%;
        background: #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .ligne-unique::before {
        content: '';
        position: absolute;
        bottom: 280%;
        background: #f1f1f1;
        width: 100%;
        height: 0.5vh;
        border-radius: 5%;
    }

    .ligne-unique::after {
        content: '';
        position: absolute;
        top: 280%;
        background: #f1f1f1;
        width: 100%;
        height: 0.5vh;
        border-radius: 5%;
    }

    .cont-ligne.active .ligne-unique::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms ease, transform 300ms 300ms ease;
    }

    .cont-ligne.active .ligne-unique {
        background: transparent;
    }

    .cont-ligne.active .ligne-unique::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms ease, transform 300ms 300ms ease;
    }



    /* ********accueil********* */

    .txt-animation {
        top: 32%;
        left: 15%;
    }

    /* ........section presentation...... */

    .histoire {
        margin-top: -105%;
    }

    .titre-pres {

        margin-left: -5%;

    }

    .container-pres {
        margin-left: -8%;
    }



    /********* section transport ***********/

    .cont-transport {

        margin-left: -8%;

    }

    .titre-port {
        margin-left: -6%;
    }

    .titre2port {

        margin-left: -2%;
        text-align: center;
    }

    .carousel .photo {
        margin-top: 26%;

    }

    .carousel .photo2 {
        margin-top: 35%;

    }

    .carousel .photo1 {
        margin-top: 28%;

    }

    /**********stockage********* */
    .titre-stockage-exp {
        margin-left: -9%;
    }

    .flex-cont-bloc-exp {

        margin-left: 5%;

    }

    /* ***********écologie*********** */
    .titre-para1 {

        margin: 10%;

    }

    .eco {
        background-size: 275%;
        background-position-y: 81%;

    }

    .engage .colza {

        margin-left: 25%;
    }

    .engage .eng {

        margin-left: -5%;
    }

    .ecolo {
        margin-left: -9%;
    }

    .par3 {
        background-position-x: 0.1em;
    }

    .eco p {
        padding-top: 11%;
        font-size: 1.3vw;
    }

    /*********** contact ****************/

    .container-form {

        margin-left: -10%;
    }

    .form-groupe label {
        font-size: 2vh;

    }

    .btn-end {
        width: 2vw;
        height: 2.5vh;
        margin-top: 2%;

    }

}

    @media screen and (max-width: 1100px) {


        .logoCbl {
            left: 78%;
            top: 21%
        }

        .accueil h1 {
            top: 20%;
            left: 25%;
        }

        .txt-animation {
            top: 26%;
            left: 22%;
        }

        .btn-rond {
            margin-top: -12%;
            margin-left: -5%;
        }

        /* ........section presentation...... */


        .histoire {
            margin-top: -133%;
        }

        /* **********transport******* */

        .carousel {

            height: 22vh;
        }

        .carousel .photo {
            margin-top: 41%;
            height: 24vh;
        }

        .carousel .photo2 {
            margin-top: 42%;
        }

        .carousel .photo1 {
            margin-top: 42%;
        }

        /* ************** Stocages ********************* */

        .titre-stockage-exp {
            margin-left: -11%;
        }

        #exp {

            height: 93vh;

        }


        /* ***********écologie*********** */


        .eco {
            background-size: 323%;
            background-position-y: 81%;

        }

        .eco p {
            padding-top: 18%;
            font-size: 1.6vw;

        }
    }

        @media all and (max-device-width: 425px) {


            .nav-gauche {

                width: 20%;

            }

            .cercle-logo img {

                width: 70%;
            }

            .cercle-logo {

                left: 1%;
            }

            .btn-rond-menu {

                margin-top: 2%;
                margin-left: 2%;
                width: 5%;
                height: 3vh;
            }

            .ligne-unique::before {

                bottom: 180%;
            }

            .ligne-unique::after {

                top: 180%;
            }

            .blocs-menu span {

                font-size: 2vw;
                left: 1%;
                margin-top: -10%;
                font-weight: 700;

            }

            .accueil h1 {

                font-size: 5.4vw;
                top: 5%;
                left: 25%;
            }

            .txt-animation {
                top: 9%;
                left: 24%;
            }

            .logoCbl {
                left: 73%;
                top: 6%
            }

            .btn-rond {
                display: none;

            }

            /***************** presentation ****************/

            .presentation {
                background-size: 120%;
                background-position-y: -1%;

            }

            .histoire {
                margin-top: -425%;

            }

            .titre-pres {

                margin-left: -2%;

            }

            /********* section transport ***********/

            .titre2port {
                font-size: 3vw;
                margin-left: -2%;
            }

            .carousel {

                height: 10vh;

            }

            .carousel .photo {

                margin-top: 165%;
                height: 8vh;
            }

            .carousel .photo2 {
                margin-top: 160%;


            }

            .carousel .photo1 {
                margin-top: 160%;

            }

            .cam {

                margin-top: 186%;
            }

            .item {

                height: 25vh;
                font-size: 2.1vw;

            }

            .item h3 {
                text-align: center;
                margin-top: -175%;
            }


            /* ************** Stocages ********************* */

            .titre-stockage-exp {
                margin-left: -17%;

            }

            #exp {
                height: 75vh;
                font-size: 2vw;

            }

            .contenu-bloc {

                height: 25vh;
            }

            .flex-cont-bloc-exp {
                font-size: 3vw;
                margin-left: 2%;
                margin-top: -83%;

            }

            .titre-section-bloc {
                text-align: center;
                margin-top: 5%;
            }

            /* ************ eco *****************/

            .eco {

                height: 230vh;
                background-size: 430%;
                background-position-y: 2%;

            }

            .section-parallax2 {

                width: 150%;
                height: 30vh;
                margin-left: -8%;

            }

            .titre-para1 {

                padding-top: 4%;
                padding-left: 15%;

            }

            .engage .eng {
                margin-top: -7%;
                font-size: 3vw;
            }

            .item-ecolo {
                height: 40vh;
            }

            .ecolo {

                margin-left: -8%;
                height: 63vh;

            }

            .cont-img-eco .deux {

                margin-top: -73%;
            }

            .ecolo p {
                font-size: 1.9vw;
                padding-top: 20%;
            }

            .par3 {

                width: 100%;
                height: 65vh;

            }


            /*********** contact ****************/

            #conta {
                height: 80vh;
                margin-top: -28%;
                background-size: 160%;
                background-position-x: 1%;
                -webkit-text-stroke: 2px rgb(55, 149, 160);
            }

            .coor {
                background-clip: text;
                -webkit-background-clip: text;
                color: black;
                -webkit-text-stroke: 1px rgb(55, 149, 160);
                font-size: 2vh;
                margin-top: 20%;
            }

            .section-contact h2 {

                color: black;
                -webkit-text-stroke: 2px rgb(55, 149, 160);
                width: 100%;
                margin-top: 80%;
                margin-left: 42%;
                font-size: 2vh;
            }

            .form-bloc {

                margin-left: 47%;
            }

            .form-groupe label {
                color: black;
                font-size: 2vh;

            }

            textarea {
                width: 30vw;
                height: 15vh;
            }

            .gmaps-frame {
                margin-left: 20%;
                width: 70%;
                height: 30vh;
            }

            .btn-end {

                height: 2.5vh;
                margin-left: 6%;
                margin-top: 5%;
            }

            footer {

                text-align: center;
                align-items: center;
                padding-left: 2%;
            }

        }

            @media all and (max-device-width: 320px) {


                .nav-gauche {

                    width: 25%;
                    
                }
                
                .cercle-logo img {
                    
                    width: 17vw;
                }

                .cercle-logo {

                    left: 1%;
                }

                .btn-rond-menu {

                    margin-top: 2%;
                    margin-left: 2%;
                    width: 8%;
                    height: 3vh;
                }

                .ligne-unique::before {

                    bottom: 180%;
                }

                .ligne-unique::after {

                    top: 180%;
                }

                .blocs-menu span {

                    font-size: 2.6vw;
                    left: 1%;
                    margin-top: -10%;
                    font-weight: 700;

                }

                .accueil h1 {

                    font-size: 5.4vw;
                    top: 3.5%;
                    left: 25%;
                }

                .txt-animation {
                    top: 7%;
                    left: 24%;
                }

                .logoCbl {
                    left: 73%;
                    top: 5%
                }

                .btn-rond {
                    display: none;

                }

                /***************** presentation ****************/

                .presentation {
                    background-size: 150%;
                    /* background-position-y: -1%; */

                }
                
                .histoire {
                    margin-top: -579%;
                }
                
                .titre-pres {
                    
                    font-size: 3vw;
                    margin-left: -2%;

                }

                /********* section transport ***********/

                .titre2port {
                    font-size: 3vw;
                    margin-left: -2%;
                }

                .carousel {
background: #000;
                    height: 7vh;

                }.carousel img{

                    margin-left: 15%;
                }

                .carousel .photo {

                    margin-top: 212%;
                    height: 8vh;
                }

                .carousel .photo2 {
                    margin-top: 220%;


                }

                .carousel .photo1 {
                    margin-top: 218%;

                }

                .cam {

                    margin-top: 186%;
                }

                .item {

                    height: 17vh;
                    font-size: 2.1vw;

                }

                .item h3 {
                    text-align: center;
                    margin-top: -255%;
                }


                /* ************** Stocages ********************* */

                .titre-stockage-exp {
                    margin-left: -17%;

                }

                #exp {
                    height: 75vh;
                    font-size: 2vw;

                }.bloc{

                    margin:  1%;
                }

                .contenu-bloc {
                    height: 20vh;
                }
                
                .flex-cont-bloc-exp {
                    width: 210vw;
                    font-size: 3vw;
                    margin-left: 2%;
                    /* margin-top: -83%; */
                   

                }

                .titre-section-bloc {
                    text-align: center;
                    margin-top: 5%;
                }

                /* ************ eco *****************/

                .eco {

                    height: 230vh;
                    background-size: 430%;
                    background-position-y: 2%;

                }

                .section-parallax2 {

                    width: 150%;
                    height: 30vh;
                    margin-left: -8%;

                }

                .titre-para1 {

                    padding-top: 4%;
                    padding-left: 15%;

                }

                .engage .eng {
                    margin-top: -7%;
                    font-size: 3vw;
                }

                .item-ecolo {
                    height: 40vh;
                }

                .ecolo {

                    margin-left: -8%;
                    height: 63vh;

                }

                .cont-img-eco .deux {

                    margin-top: -73%;
                }

                .ecolo p {
                    font-size: 1.9vw;
                    padding-top: 20%;
                }

                .par3 {

                    width: 100%;
                    height: 65vh;

                }


                /*********** contact ****************/

                #conta {
                    height: 80vh;
                    margin-top: -28%;
                    background-size: 160%;
                    background-position-x: 1%;
                    -webkit-text-stroke: 2px rgb(55, 149, 160);
                }

                .coor {
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: black;
                    -webkit-text-stroke: 1px rgb(55, 149, 160);
                    font-size: 2vh;
                    margin-top: 20%;
                }

                .section-contact h2 {

                    color: black;
                    -webkit-text-stroke: 2px rgb(55, 149, 160);
                    width: 100%;
                    margin-top: 80%;
                    margin-left: 42%;
                    font-size: 2vh;
                }

                .form-bloc {

                    margin-left: 47%;
                }

                .form-groupe label {
                    color: black;
                    font-size: 2vh;

                }

                textarea {
                    width: 30vw;
                    height: 15vh;
                }

                .gmaps-frame {
                    margin-left: 20%;
                    width: 70%;
                    height: 30vh;
                }

                .btn-end {

                    height: 2.5vh;
                    margin-left: 6%;
                    margin-top: 5%;
                }

                footer {

                    text-align: center;
                    align-items: center;
                    padding-left: 2%;
                }
            }